extends ../layout/main

block head
  - var title = '404'
  - var bodyClass = 'page404'
block content
  .s-content(style="background-image: url('img/general/top.jpg')")
    .container
      .row
        .col-12
          .s-content__ico-text 404
          .s-content__title Страница не найдена
          .s-content__subtitle Страница, которую вы ищете, не существует.
          .s-content__acton
            a.btn(href="/") перейти на главную

































//- 