extends ../layout/main

block head
  - var title = 'Главная'
  - var bodyClass = ''
block content
  +header()
  .top
    .container
      .row
        .col-lg-4
          h1 Проект, монтаж, пуск, наладка и сервис 
            span противопожарной и охранной систем от 140 руб./м2 
          .top__desc Гарантируем 100% прохождение проверки пожарной инспекции или устраним все нарушения за свой счет
          .top__action
            a.btn(href="#") Узнать стоимость
            .top__action-text Узнайте стоимость монтажа «под ключ» в 3х ценовых сегментах для вашего объекта

        .col-lg-8
    