mixin hidden()
  .hidden
    - formSubject = 'Form title'
    - formTitle = 'Form title'
    - formSubtitle = ''
    - formButton = 'Send'
    //+form_default('formClass', 'formId')
    
    
    
    
    
    #police.police-popup
      h2 Политика конфиденциальности
      .police-popup__box
        p  Соблюдение Вашей конфиденциальности важно для нас. По этой причине мы разработали Политику Конфиденциальности, которая описывает, как мы используем и храним Вашу информацию. Пожалуйста, ознакомьтесь с нашими правилами соблюдения конфиденциальности и сообщите нам, если у Вас возникнут какие-либо вопросы.
        h3 Сбор и использование персональной информации
        p Под персональной информацией понимаются данные, которые могут быть использованы для идентификации определенного лица либо связи с ним. От Вас может быть запрошено предоставление Вашей персональной информации в любой момент, когда Вы связываетесь с нами. Ниже приведены некоторые примеры типов персональной информации, которую мы можем собирать, и как мы можем использовать такую информацию.
        h3 Какую персональную информацию мы собираем:
        p  Когда вы оставляете заявку на сайте, мы можем собирать различную информацию, включая Ваши
        .list
          ul
            li имя и фамилию,
            li номер телефона,
            li адрес электронной почты
            li и т. д.
        h3 Как мы используем Вашу персональную информацию:
        p  Собираемая нами персональная информация позволяет нам связываться с Вами и сообщать об уникальных предложениях, акциях и других мероприятиях и ближайших событиях.
        p Время от времени мы можем использовать Вашу персональную информацию для отправки важных уведомлений и сообщений.
        p Мы также можем использовать персональную информацию для внутренних целей, таких как проведения аудита, анализа данных и различных исследований в целях улучшения услуг, предоставляемых нами, и предоставления Вам рекомендаций относительно наших услуг.
        p Если Вы принимаете участие в розыгрыше призов, конкурсе или сходном стимулирующем мероприятии, мы можем использовать предоставляемую Вами информацию для управления такими программами.
        h3 Раскрытие информации третьим лицам
        p Мы не раскрываем полученную от Вас информацию третьим лицам.
        h3 Исключения:
        p В случае, если необходимо — в соответствии с законом, судебным порядком, в судебном разбирательстве и/или на основании публичных запросов или запросов от государственных органов на территории РФ — раскрыть вашу персональную информацию. Мы также можем раскрывать информацию о Вас, если мы определим, что такое раскрытие необходимо или уместно в целях безопасности, поддержания правопорядка, или иных общественно важных случаях.
        p В случае реорганизации, слияния или продажи мы можем передать собираемую нами персональную информацию соответствующему третьему лицу – правопреемнику.
        h3 Защита персональной информации
        p Мы предпринимаем меры предосторожности — включая административные, технические и физические — для защиты Вашей персональной информации от утраты, кражи и недобросовестного использования, а также от несанкционированного доступа, раскрытия, изменения и уничтожения.
        h3 Соблюдение Вашей конфиденциальности на уровне компании
        p Для того чтобы убедиться, что Ваша персональная информация находится в безопасности, мы доводим нормы соблюдения конфиденциальности и безопасности до наших сотрудников и строго следим за исполнением мер соблюдения конфиденциальности
      //-.police-popup__action
        .btn Я даю согласие на обработку своих персональных данных
