mixin menu()
  //- .hamburger.hamburger--collapse
    .hamburger-box
      .hamburger-inner
  //- .hamburger.hamburger--js(onclick="this.classList.toggle('open')"): span
  .hamburger.hamburger--js: span
